{% extends 'base.html' %}
{% block title %} List of trainers {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row gy-3">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Filters</h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ my_filters.form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                            <a href="{% url 'list-of-trainers' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
            <div class="row gy-3">
                {% for trainer in all_trainers %}
                    <div class="col-md-4">
                        <div class="card card-primary">
                            <div class="card-body">
                                <h5 class="card-title">{{ trainer.first_name }} {{ trainer.last_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ trainer.course }}</h6>
                                <div style="overflow-x: auto; height: 100px;">
                                    <p class="card-text">{{ trainer.description }}</p>
                                </div>
                                <div class="align-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            More actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"
                                                   href="{% url 'update-trainer' trainer.id %}">Update</a></li>
                                            <li><a class="dropdown-item"
                                                   href="{% url 'delete-trainer' trainer.id %}">Delete</a></li>
                                            <li><a class="dropdown-item"
                                                   href="{% url 'details-of-trainer' trainer.id %}">Details</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

{% endblock %}