{% extends 'base.html' %}

{% block title %} Reset Password - Done {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Reset password Successful</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center"> Parola a fost schimbata cu succes!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

